<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/css/login.css" />
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
    <meta http-equiv="refresh" content="3;url=http://127.0.0.1:8000/online/login/">
</head>

<body>

	<div class="loginwarrp">
		<div class="logo">单位设备管理系统-用户注销</div>
        <div class="logo">您已成功注销!</div>
	</div>

	<script type="text/javascript">
		window.onload = function() {
			var config = {
				vx : 2,
				vy : 2,
				height : 3,
				width : 3,
				count : 200,
				color : "121, 162, 185",
				stroke : "100, 200, 180",
				dist : 6000,
				e_dist : 20000,
				max_conn : 50
			}
			CanvasParticle(config);
		}
	</script>
</script>
<script type="text/javascript" src="/static/js/canvas-particle.js"></script>
</body>
</html>
